.Post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 5px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 5px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0;
}

.Post .Postwrapper {
    padding: 10px;
}

.Post .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Post .postTopLeft {
    display: flex;
    align-items: center;
}

.Post .postProfileimg {
    width: 32px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.Post .postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.Post .postDate {
    font-size: 12px;
}

.Post .postCenter {
    margin: 20px 0;
}

.Post .postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.Post .postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Post .postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon,
.heartIcon {
    margin-right: 5px;
    transition: color 0.3s ease;
    cursor: pointer;
}


.heartIcon:hover {
    color: #ff6961;
}

.likeIcon:hover {
    color: #0080ff;
}
.icon-text {
    margin-right: 10px;
}

.Post .postlikeCounter,
.Post .postCommentText {
    font-size: 15px;
}

.card{
    width: 100% !important;
    padding: 0%;
}